body{
    margin: auto;
    padding: auto;
    margin-left: 240px;
    background-image: url();
}

h1{
    color: #808021;
    font-size: 50px;
}

#text{
    font-size: 22px;
    max-width: 60%;
}

ul{
    background-color: rgb(231, 231, 231);
    display: inline-block;
    font-size: 20px;
    width: 200px;
    height: 250px;
    border: 4px solid wheat;
    border-radius: 20px;
}
