body{
    margin: 0;
    padding: 0;
}
.nav{
    background-color:gray; 
    height: 20px;
    padding:20px ;

}
.active{
    color: black;
}
a{
    text-decoration: none;
    font-size: 22px;
}
.anker{
    float: right;
    padding-right: 40px;
    color: rgba(6, 247, 6, 0.767);
}
.background{
    float: right;
    position: relative;top: 150px;right: 180px;
}
.background h1,h2{
    /* color: white; */
    max-width: 400px;
}
.container{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7ok0A0dWxwzDccKHQGBK_Kve49jmqHKk5pg&usqp=CAU);
}