body{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}
.nav{
    background-color:#414141; 
    height: 100%;
    padding: 10px;
}
.nav a{
    color: white;
    text-decoration: none;

}
.nav-items{
    font-size: 28px;
    float: right;
    margin: auto;
    padding-right: 45px;
}
.nav-logo{
    font-size: 28px;
    display: inline;
    margin: auto;
}
.nav-logo i{
    position: relative; 
    left: 65px; 
    font-size: 33px; 
    color: white;
}
.nav-logo a{
    position: relative; 
    left: 70px;
}
.anker{
    padding-right: 40px;
}
.element{
    float: right;
    padding-right: 270px; 
    position: relative; bottom: 12px;
}
.element h1,h2{
    color: white;
    width: 450px;
    font-size: 49px;
}
.element button{
    font-size: 35px;
    background-color: rgb(224, 94, 138);
    color: white;
    padding: 13px;
    border-radius: 10px;
}
.element button:hover{
    background-color: #414141;
}
.background{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7ok0A0dWxwzDccKHQGBK_Kve49jmqHKk5pg&usqp=CAU");
    background-position: left;
    background-size: cover;
    height: 600px;
    width: 100%;
}
.container{
    width: 100%;
}
table{
    margin: auto;
    width: 68%;
    height: 390px;
    font-size: 30px;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 70px;
}
tbody>:nth-child(odd){ 
    background-color: rgb(197, 197, 197);
}

td{
    font-size: 23px;
    background-color: #4297B3;
}
.h1{
    text-align: center;
    color: #272626;
    margin-top: 100px;
    font-size: 38px;
}
.container2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-image: linear-gradient(to top left, #91fad4,rgb(50, 141, 146));
    height: 800px;
}
.card{
    max-width: 300px;
    text-align: center;
    position: relative;top: 143px;
    background-color: white;
    height: 470px;
    padding: 30px;
    border-radius:30px ;
}
.inner-2 img{
    width:270px;
    border-radius: 100px;

}
.card p{
    font-size: 20px;
}
.inner-3 img{
    width:170px;
    border-radius: 30px;
}
.card .but{
    position: absolute;
    bottom: 0;
    padding-left: 90px;
    padding-bottom: 30px;
}
.but button{
    padding: 9px;
    border-radius: 10px;
    width: 130px;
    background-color:  rgb(236, 110, 152);
    color: white;
    font-size: 20px;
    
}
.but button:hover{
    background-color: #414141;

}
.footer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 100px;
    background-color: #414141;
    color: white;
    height: 280px;
    padding-top: 100px;
}
.rainbow{
    border:3px solid blue;
    text-align: center;
}
#paragraph{
    margin-left: 80px;
}
.icon{
    margin-left: 380px;
}
#paragraph p{
    font-size: 20px;
}
#paragraph .ikon{
    font-size: 36px;
    padding-right: 35px;
}
.icon p .about{
    padding-right: 20px;
    font-size: 24px;
    padding-bottom: 10px;
}