body{
    text-align: center;
s}
.pink{
    text-align: center;
}
h1{
    margin-bottom: 30px;
    color: white;
}
/* .container{
    display:grid;
    grid-template-columns: repeat(3,200fr);
} */
html{
    height: 90%;
}
@media (max-width:320px) {
    .code{
        margin-bottom:80px;
    }
    .pink{
        margin-left: 180px;
        font-size: 22px;
    }
}
