h1{
  color: rgb(9, 9, 240);
}  

li span{
  /* background-color: yellowgreen; 
   color: rgb(8, 0, 0);  */
  border:5px solid rgb(88, 3, 3) 
}
p span{
  /* color: rgb(7, 0, 0); */
} 
table{
  /* color: BLUE; */
  border-color: darkmagenta;
  border-width:5px;
  border-style:darkmagenta ;
}
h3{
  /* color: royalblue; */
  border-color:BLUE;
  border-width:5px;
  border-style:blue;
}
/* h2{
  color: saddlebrown;
}  */
button{
  color: blue;
}
select{
  color: blue;
}
body{
  color: #fff;
  background-color: #333;
  /* background-color:#a9f8e7; */
}
div span{
  /* background-color: rgb(0, 255, 0); */

}

button {
  border: 6px solid #094179;
}
img{
  border: 7px solid #094179; 
  border-radius: 20px;
}
input{
  border: 4px solid #bdc3c7;
}
textarea{
  border:5px solid #bdc3c7;
}
table{
  border:5px solid blue;
}
div p{
  font-size: 18px;
}
h3{
  font-size: 23px;
  text-decoration: underline;
}
ol{
  font-size: 19px;
}
table{
  font-size: 19px;
}
select{
  font-size: 17px;
}
 label{
    text-transform: capitalize;
}
h1:hover{
  color:gold;
}
table:hover{
  color: yellow;
  transition: background 5s;
}
p{
  font-family: Arial;
  padding: 10px;
}
h1{
  font-family: Georgia;
}
input[type=email] {
  font-size: 15px;
}
input[type=password] {
  font-size: 15px;
}
a{
  color: blue;
  font-size: 16px;
  text-decoration: none;
}
a:active{
  color: green;
}
p{
  font-weight: bold;
  text-decoration: underline;
}
li{
  text-decoration: underline;
  font-weight:bold;
  line-height: 26px;
  border-left: 5px solid #bdc3c7;
  padding-left: 5px;  
  
}
a{
  padding: 9px;
}
.post{
  border:10px solid blue ;
  width: 200px;
padding: 20px;
background-color: #008B8B;
}
button > a:hover{
  background-color: blue;
  color: white;

}
button:hover{
  background-color:blue;
  color: white;
  transition: background 2s;
}

footer{
  left: 0;
   margin-top: 40px;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: rgb(48, 100, 146);
  color: white;
  text-align: left;
  padding-top: 15px;
}
 .code{
  background-image: url(https://wallpaperaccess.com/full/1769966.jpg);
  background-position: center right;
  padding: 10px;
  margin-bottom: 30px;
}
.ahmad{
  line-height: 3.1em;
}
