body{
    background-color: aqua;
}
h1{
    margin-bottom: 150px;
    text-align: center;
}
p{
    max-width: 600px;
    font-size: 30px;
}
.bacground{
    background-image: url(https://cdn.mos.cms.futurecdn.net/mEuBJTDhXuTfSKdLefzSKg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1400px;
    height: 500px;
}