body{
    margin: 0;
    padding: 0;
    background-color: teal;
}
.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.container2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 130px;
}
.card{
    border-radius: 50px;
}
.p.{
    max-width: 260px; 
    background-color:white;
    margin-top: ;
}
.item{
    margin-left: 100px;
    margin-bottom: 100px;
    margin-top: 20px;
    line-height: 1.6;

}
table{
    font-size: 30px;
    margin-left: 190px;
    width: 900px;
    background-image: linear-gradient(to top left,   rgb(0, 97, 102), rgb(1, 46, 95));
    color: white;

}
tr{
    text-align: center;
}
thead{
    background-image: linear-gradient(to top left, #91fad4, rgb(50, 141, 146));
    color: white;
}
.red{
    margin-left: 45px;
}
.center{
   margin-left: 80px; 
}
.header{
    margin-top: 70px;
    margin-bottom: 70px;
    text-align: center;
}
.form{
    margin-left: 450px;
    margin-top: 170px;
}

p{
    font-size: 20px;
    max-width: 370px;
    margin: 0;
}
.form{
    color: white;
}
.bac.{
    background-color: white;
}
input{
    display: flex;
    flex-direction: column;
    margin-bottom:20px ;
    font-size: large;
    background-color: #202020;
    color: white;
}
li{
    font-size: 25px;
    line-height: 2.0;
}
hr{
    width: 570px;
}
